body .modal-open {
  overflow: scroll; !important;
}

.library-pane {
  top: 100px;

  transition: all .5s;
}
.search-pane {
  margin-top: 15%;
  top: 106px;

  transition: all .5s;
}

#searchInput {
  padding-right: 140px;
}
.btn-search-update {
  position: relative;
  top: -50px;
  left: calc(100% - 130px);
}
.search-feedback {
}

.navbar-brand {
  pointer-events: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -160px;
    visibility: hidden;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;

  transition: all .5s;
}
#site-footer {
  bottom: -200px;
}
#update-panel {
  background-color: #1a1a1a;
  position: fixed;
  bottom: -60px;
}
#update-panel.active {
  bottom: 0;
}
#update-text {
  color: orange;
}
#total-counter {
  color: rgba(255,255,255,0.7);
  pointer-events: none;

  transition: all .5s;
}
#quick-add {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 35px;
  margin:auto;

  pointer-events: all;
}

#addModal {
  top: 20%;
}
#quickInputFeedback {
  transition: all .5s
}
.tooltip > .tooltip-inner {
  background-color: white;
  color: black;
  border: 1px solid #999999;

  max-width: 300px;
  max-height: 200px;
}
.tooltip.tooltip-bottom .tooltip-inner::before, .tooltip.bs-tether-element-attached-top .tooltip-inner::before {
  border-bottom-color: #999999;
}

/*Login*/
.splash-container {
  margin-top: 15%;
  top: 106px;
}

/*Codex*/
.codex-entry {
  max-width: 285px;
  margin: auto;
}
@media(min-width:576px){
  .codex-entry {
    max-width: 25%;
    margin: 0;
  }
  .codex-entry h5 {

  }
}
@media (min-width: 768px) {
  .codex-entry h5 {
    display: block;
    font-size: .75em;
  }
 }
 @media (min-width: 992px) {
   .codex-entry h5 {
     font-size: 1em;
   }
 }


.codex-img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;

  background: #dddddd;
  box-shadow: 0px 10px 15px 3px rgba(0,0,0,0.5);
  border-radius: 15px;
  border: 1px solid rgba(0,0,0,0.75);

  transition: all .5s;
}
.codex-entry.mastered .codex-img{
  background: black;
  opacity: .75;
}
.dirty .codex-img {
  opacity: 0.5;
  background: #666666;
  border: 7px solid green;
}
 .codex-entry.mastered.dirty .codex-img {
   opacity: 0.5;
   background: #666666;
   border: 7px solid orange;
 }

.gilded-img {
  height: auto;
  width: auto;
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  opacity: 0;

  transition: all .5s;
}
.mastered:not(.dirty) .gilded-img, :not(.mastered).dirty .gilded-img {
  opacity: 1;
}

.codex-entry.mastered h5 {
  text-decoration: line-through;
}
.codex-entry.mastered.dirty h5 {
  text-decoration: none;
}
.codex-entry.dirty h5 {
  text-decoration: line-through;
}
