.main-pane {
  top: 120px;
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

/*Login*/
.splash-container {
  margin-top: 15%;
  top: 106px;
}

/*Codex*/
.codex-entry {
  max-width: 285px;
  margin: auto;
}
@media(min-width:576px){
  .codex-entry {
    max-width: 25%;
    margin: 0;
  }
  .codex-entry h5 {
    display: none;
  }
}
@media (min-width: 768px) {
  .codex-entry h5 {
    display: block;
    font-size: .75em;
  }
 }
 @media (min-width: 992px) {
   .codex-entry h5 {
     font-size: 1em;
   }
 }


.codex-img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;

  background: #dddddd;
  box-shadow: 0px 10px 15px 3px rgba(0,0,0,0.5);
  border-radius: 15px;
  border: 1px solid rgba(0,0,0,0.75);

  transition: all .5s;
}
.codex-entry.mastered .codex-img{
  background: black;
  opacity: .75;
}
.dirty .codex-img {
  opacity: 0.5;
  background: #666666;
  border: 7px solid green;
}
 .codex-entry.mastered.dirty .codex-img {
   opacity: 0.5;
   background: #666666;
   border: 7px solid orange;
 }

.gilded-img {
  height: auto;
  width: auto;
  max-width: 90%;
  max-height: 90%;

  position: absolute;
  top: 0;
  left: 5%;
  opacity: 0;

  transition: all .5s;
}
.gilded-img.gilded {
  opacity: 1;
}

.codex-entry.mastered h5 {
  text-decoration: line-through;
}
.codex-entry.mastered.dirty h5 {
  text-decoration: none;
}
.codex-entry.dirty h5 {
  text-decoration: line-through;
}
